<h1>Select any institution for <%= @user.first_name%></h1>

<%= form_with url: assign_institution_path, class: "nifty_form my_form form" , method: :patch do |u| %>

  <div class="form-group">
    <%= label(:customusers, :institute_id, "Institution Name") %>
    <%= select_tag :institute_id, options_for_select(@institution.collect{ |u| [u.name, u.id] }) , class:"form-control"%>
  </div>

  <%= u.submit "Assign Institution", class:"btn button button_customized" %>
  <%=link_to "Cancel", root_path, class: "btn button button_customized" %>
<% end %>