<h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th class="th">First Name</th>
        <th class="th">Last Name</th>
        <th class="th">Email</th>
        <th class="th">Address</th>
        <th class="th">Phone Number</th>
        <th class="th">Time Zone</th>
        <th class="th">Current Role</th>
        <th class="th">Change Role</th>
        <th class="th">Delete User</th>
        <th class="th">Assign Institution</th>
      </tr>
    </thead>
  
    <tbody>
      <% @user.each do |user| %>
        <tr class="tr">
          <td class="td"><%= user.first_name %></td>
          <td class="td"><%= user.last_name %></td>
          <td class="td"><%= user.email %></td>
          <td class="td"><%= user.address %></td>
          <td class="td"><%= user.phone_number %></td>
          <td class="td">Aisa/Karachi</td>
          <td class="td"><%= user.user_role %></td>
          <td class="td"><%= link_to 'Assign Institution Manager' , customuser_path(user), method: :patch%></td>
          <td class="td"><%= link_to 'Delete User' , customuser_path(user), method: :delete%></td>
          <td class="td"><%= link_to 'Assign Institution' , assign_institution_path(user), method: :post%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  